*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

body{
    background-color: black;
    text-align: center;
    padding: 250px;
}
#input{
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
}
#send{
    padding: 15px 30px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
.box{
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: gray;
    margin: 20px auto;
    border-radius: 20px;
}
h1{
    font-size: 70px;
}
#minus-btn{
    width: 120px;
    height: 80px;
    font-size: 50px;
    font-style: 900;
    background-color: inherit;
    border: none;
}
#minus-btn:active{
    background-color: red;
}
#plus-btn{
    width: 120px;
    height: 80px;
    font-size: 50px;
    font-style: 900;
    background-color: inherit;
    border: none;
}
#plus-btn:active{
    background-color: green;
}
label{
    font-size: 40px;
    color: white;
}
#color-input{
    width: 80px;
    height: 40px;
}